@namespace url(http://www.w3.org/1999/xhtml);


@-moz-document regexp("^(https?|ftps?|file|about):(?!((.*).pdf)).*$") {
	* {
		box-shadow: none !important;
		text-shadow: none !important;
		transition: background-color 0.75s ease-in, color 0.1s ease-in !important;
	}
	html,
	body {
        background: -moz-linear-gradient(top, #000, #000) #000 repeat !important;
    }
    html * {
        background: #000 !important;
        color: #9F9F9F !important;
        border-color: #222 !important;
    }
    a {
        background-color: #000 !important;
        color: #9F9F9F !important;
        border-color: #9F9F9F !important;
    }
    input,
    textarea {
		-moz-appearance: none !important;
        color: #EBEBEB !important;
        outline: none !important;
    }
	input [type=button],
	input[type=submit],
	button {
		cursor: pointer !important;
	}
    :-moz-placeholder {
        color: #5E8EA8 !important;
    }
    b,
    em,
    strong {
        color: #999 !important;
    }
    a,
    a * {
        color: #269 !important;
    }
    a:visited,
    a:visited * {
        color: #48B !important;
    }
    a:hover,
    a:hover * {
        color: #09D !important;
		text-shadow: 0px 0px 5px #aaa !important;
    }
    a.highlight,
    a.highlight *,
    a.active,
    a.active *,
    .selected,
    .selected *,
    [href="#"] {
        color: #BBB !important;
    }
    *:focus {
        color: #FFFFFF !important;
    }
    *:active {
        color: #FFFFFF !important;
    }
}